<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">우피코리아</a></li>
            <li><a href="services.html">서비스</a></li>
            <li><a href="projects.html">모바일 프로젝트</a></li>
            <li><a href="privacy-policy.html">개인정보취급방침</a></li>
            <li><a href="terms-of-use.html">서비스이용약관</a></li>
            <li><a href="supports.html">고객지원</a></li>
            <li><a href="elements.html">Elements</a></li>

<!--

            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
-->            
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
