---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    {% if page.title == "서비스 소개" %}
    <p>Introducing Our Services</p>
    {% else %}
      {% if page.title == "모바일 프로젝트" %}
      <p>Mobile Projects</p>
      {% else %}
        {% if page.title == "개인정보 취급 방침" %}
        <p>Privacy Policy</p>
        {% else %}
          {% if page.title == "서비스 이용 약관" %}
          <p>Terms of Use</p>
          {% else %}
            {% if page.title == "위치정보 이용약관" %}
            <p>Location Information Policy</p>
            {% else %}
              {% if page.title == "Google oAuth2 Policy" %}
              <p>Google oAuth2 Homepage</p>
              {% else %}
                {% if page.title == "고객지원" %}
                <p>Customer Supports</p>
                {% else %}
                <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
